TheLeftExit/TheLeftExit.NetWTP/ClientWTP/Connected Services/WTP/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52786/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServerWTP" />
  <xs:element name="ConvertWithMM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="binary" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertWithMMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServerWTP" minOccurs="0" name="ConvertWithMMResult" nillable="true" type="q1:WTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertWithWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="binary" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertWithWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServerWTP" minOccurs="0" name="ConvertWithWordResult" nillable="true" type="q2:WTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>