TheLeftExit/TheLeftExit.NetWTP/ClientWTP/Connected Services/WTP/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerWTP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerWTP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WTPResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="binary" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WTPResponse" nillable="true" type="tns:WTPResponse" />
</xs:schema>